// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

html{
    scroll-behavior: smooth;
}

// FONT FAMILY

p, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $black-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'CenturyGhoticB';
    font-weight: 400;
    color: $black-primary;
}

// BUTTONS

.btn-violet {
    cursor: pointer;
    padding: 16px 62px;
    width: 214px;
    height: 62px;
    background: #9747ff;
    border-radius: 20px;
    @include d-flex-center;
    p {
        font-weight: 500;
        font-size: 1.25rem;
        color: $white-primary;
    }
}

.btn-blue {
    @extend .btn-violet;
    width: 210px;
    background: #516eff;
}

.btn-blue-mobile {
    @extend .btn-blue;
    width: 111px;
    height: 48px;
    padding: 0;
    font-family: 'Poppins';
    p {
        font-style: normal;
        font-weight: 700;
        font-size: 0.9rem;
    }
}
