.aboutContainer {
    @include d-flex-space;
    @include d-flex-column;
    text-align: center;
    margin-top: 5rem;
    scroll-margin-top: 5rem;
}

.aboutContainer-text {
    @include d-flex-center;
    @include d-flex-column;
    .aboutTitle {
        h2 {
            @include d-flex-center;
            font-size: calc(2.3rem + 0.3vw);
        }
    }
    .aboutText {
        margin: 1.5rem 0;
        width: 92%;
        p {
            font-size: calc(0.92rem + 0.3vw);
            line-height: calc(2rem + 0.3vw);
        }
        p:last-child {
            margin-top: 2rem;
        }
    }
}

.aboutImg {
    margin: 0.5rem 0;
    img {
        width: 70%;
        max-width: 400px;
    }
}

// ABOUT SERVICES CARDS

.aboutCardsContainer {
    @include d-flex-center;
    @include d-flex-column;
    gap: 4rem;
    margin-top: 3rem;
    scroll-margin-top: 5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 75%, #afb9d9 85%);
    width: 100%;
}

.aboutCards {
    @include d-flex-center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 1rem;
}

.aboutCards-title {
    width: 70%;
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: calc(1.3rem + 0.3vw);
        line-height: 2.3rem;
        text-align: center;
    }
}

.about-card {
    width: calc(230px + 2vw);
    height: calc(260px + 2vw);
    background: #fbfbfb;
    box-shadow: 0px 16px 32px rgba(45, 45, 45, 0.25);
    border-radius: 24px;
    img {
        width: 80px;
        width: calc(80px + 1vw);
        position: relative;
        top: -15.5%;
    }
    div {
        @include d-flex-center;
        @include d-flex-column;
        gap: 1.5rem;
        position: relative;
        bottom: 0.6rem;
        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            width: 67%;
            font-size: 1.25rem;
            font-size: calc(1.05rem + 0.3vw);
            line-height: 1.8rem;
        }
        a {
            @include d-flex-center;
            margin-top: 0.5rem;
        }
    }
}

.aboutContact {
    @include d-flex-center;
    @include d-flex-column;
    .aboutContact-title {
        font-weight: 500;
        font-size: 1.5rem;
        font-size: calc(1.4rem + 0.3vw);
        color: $white-primary;
        margin-bottom: 1.6rem;
    }
    button {
        width: 223px;
        height: 58px;
        background: #afb9d9;
        background: transparent;
        border: 3px solid #f5f5f5;
        border-radius: 20px;
        margin-bottom: 2rem;
        cursor: pointer;
        p {
            font-weight: 500;
            font-size: 1.25rem;
            font-size: calc(1.15rem + 0.3vw);
            line-height: 1.8rem;
            color: $white-primary;
        }
    }
}

// MEDIA QUERIES

@media (min-width: 450px) {
    .aboutContainer-text {
        .aboutText {
            width: 75%;
        }
    }
}

@media (min-width: 540px) {
    .aboutCardsContainer {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, #afb9d9 80%);
        .aboutCards {
            gap: 1rem;
        }
        .aboutCards:nth-child(1),
        .aboutCards:nth-child(2) {
            row-gap: 4rem;
        }
    }
    .about-card div a {
        button {
            width: 140px;
        }
    }
}

@media (min-width: 650px) {
    .aboutContainer-text {
        .aboutText {
            width: 65%;
        }
    }
}

@media (min-width: 780px) {
    .aboutContainer-text {
        .aboutText {
            width: 60%;
        }
    }
    .about-card div h2 {
        width: 70%;
    }
}

@media (min-width: 968px) {
    .aboutCardsContainer {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, #afb9d9 90%);
    }
}

@media (min-width: 1024px) {
    .aboutDescription {
        @include d-flex-center;
        justify-content: space-between;
        margin-left: 4rem;
        padding-top: 2rem;
        .aboutContainer-text {
            text-align: start;
            align-items: flex-start;
            width: 52%;
            .aboutText {
                width: 100%;
            }
        }
        .aboutContainer-img {
            width: 45%;
            .aboutImg {
                margin-right: 4rem;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1053px) {
    .about-card div a {
        button {
            width: 170px;
        }
    }
}

@media (min-width: 1160px) {
    .aboutDescription {
        margin-left: 6rem;
        .aboutContainer-img {
            .aboutImg {
                margin-right: 5rem;
            }
        }
    }
}
