.contactContainer {
    @include d-flex-space;
    @include d-flex-column;
    margin-bottom: 1.5rem;
    scroll-margin-top: 3.5rem;
}

.contactTitle {
    margin-top: 2rem;
    h2 {
        @include d-flex-center;
        font-size: calc(1.7rem + 0.3vw);
    }
}

.socialMedia {
    ul {
        @include d-flex-center;
        gap: 0.8rem;
        margin-top: 2rem;
        img {
            width: 50px;
        }
    }
}

.contactSection{
    @include d-flex-center;
    @include d-flex-column;
    .contactText {
        margin-top: 2rem;
        width: 80%;
        @include d-flex-column;
        gap: 1.6rem;
        p {
            font-size: calc(1.05rem + 0.3vw);
            line-height: 1.8rem;
            text-align: center;
        }
    }
}

.contactImg{
    @include d-flex-center;
    margin: 1.5rem 0;
    img{
        width: 217px;
        width: 64%;
    }
}

@media (min-width: 1024px) {
    .contactContainer{
        flex-direction: row;
        .contactSection{
            align-items: flex-start;
            margin-left: 6%;
        }
        .contactText{
            p{
                text-align: left;
            }
        }
    }
    .socialMedia {
        ul {
            img:hover {
                opacity: 75%;
                transition: ease .4s;
            }
        }
    }
}