.footerContainer {
    padding-bottom: 2rem;
    background: #F5F5F5;
}

.footerContact {
    .footerLogo {
        @include d-flex-center;
        @include d-flex-column;
        padding: 3rem 0 1.8rem 0;
        img{
            margin-bottom: 1.2rem;
            width: 36%;
            max-width: 223px;
        }
        p{
            margin-top: 0.2rem;
        }
    }
    .footerLinks {
        @include d-flex-center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
        gap: 2rem;
        row-gap: 0;
        padding: 0rem 0.8rem;
        div {
            height: 11.5rem;
        }
        h5 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 1.2rem;
            margin-bottom: 1rem;
        }
        p,
        li {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
        .footerMail {
            width: fit-content;
            height: fit-content;
            p{
                font-size: 0.8rem;
            }
        }
    }
}

.footerLine {
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(45, 45, 45, 0.2);
}

.footerCopyright {
    @include d-flex-center;
    margin-top: 1rem;
    p {
        font-weight: 500;
        font-size: 1.1rem;
    }
}

@media (min-width: 471.5px) {
    .footerContact{
        .footerLinks{
            align-items: flex-start;
            .footerMail{
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: 760px) {
    .footerContact{
        .footerLinks{
            gap: 0;
        }
    }
}

@media (min-width: 1024px) {
    .footerContact{
        @include d-flex-center;
        padding-top: 2.5rem;
        .footerLogo{
            align-items: flex-start;
            padding: 0;
            img{
                width: 80%;
            } 
        }
        .footerLinks{
            width: 65%;
            a:hover{
                opacity: 75%;
                transition: ease .4s;
            }
            h5 {
                font-size: 1.1rem;
            }
            p,
            li {
                font-size: 1rem;
            }
            .footerMail{
                height: 100%;
                text-align: start;

            }
            .footerMenu, .footerSocialMedia{
                ul{
                    @include d-flex-column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                h5{
                    width: fit-content;
                    text-align: start;
                }
            }
        }
    }
}