.homeContainer {
    @include d-flex-space;
    @include d-flex-column;
    padding-top: 6.5rem;
}

.homeContainer-text {
    @include d-flex-center;
    @include d-flex-column;
    text-align: center;
}

.homeContainer-img {
    .homeImg {
        @include d-flex-center;
        margin-top: 2.5rem;
        img {
            width: 80%;
            max-width: 490px;
        }
    }
}

.homeTitle {
    width: 90%;
    @include d-flex-center;
    h1 {
        font-size: calc(2.3rem + 0.8vw);
        line-height: calc(2.8rem + 0.8vw);
        white-space: pre-line;
    }
}

.homeText {
    margin: 2.5rem 0;
    width: 92%;
    p {
        font-size: calc(1.05rem + 0.8vw);
        line-height: calc(2rem + 0.8vw);
    }
}

@media (min-width: 450px) {
    .homeText {
        width: 75%;
    }
}

@media (min-width: 650px) {
    .homeTitle {
        width: 60%;
        h1 {
            white-space: initial;
        }
    }
    .homeText {
        width: 65%;
    }
}

@media (min-width: 780px) {
    .homeText {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .homeContainer {
        flex-direction: row;
        .homeContainer-text {
            width: 50%;
            text-align: start;
            align-items: flex-start;
            margin-left: 4rem;
            .homeTitle {
                width: 80%;
            }
            .homeText {
                width: 100%;
            }
        }
        .homeContainer-img {
            width: 50%;
            .homeImg {
                margin-top: 0;
                img {
                    width: 70%;
                }
            }
        }
    }
}

@media (min-width: 1160px) {
    .homeContainer {
        .homeContainer-text {
            width: 45%;
            margin-left: 6rem;
        }
    }
}
