.testimonialsContainer {
    background-color: #f5f5f5;
    padding-top: 2.5rem;
    @include d-flex-center;
    @include d-flex-column;
    scroll-margin-top: 3rem;
    .testimonialsTitle {
        h3 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-weight: 500;
            font-size: calc(1.3rem + 0.3vw);
        }
    }
}

.slide-container {
    padding: 1.5rem 0 3rem 0;
    width: 100%;
    .swiper-slide {
        @include d-flex-center;
        .testimonialCard {
            @include d-flex-column;
            justify-content: space-evenly;
            align-items: center;
            width: 260px;
            height: 350px;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(186, 223, 231, 1) 60%,
                rgba(164, 211, 221, 1) 100%
            );
            box-shadow: 0px 16px 32px rgba(45, 45, 45, 0.25);
            border-radius: 24px;
            h4 {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 1.25rem;
            }
            p {
                width: 86%;
                text-align: center;
                margin-bottom: 0.3rem;
                font-size: calc(0.85rem + 0.15vw);
                line-height: 1.4rem;
            }
        }
    }
    .swiper-button-prev {
        position: absolute;
        left: 8%;
        img {
            width: 2rem;
        }
    }
    .swiper-button-next {
        position: absolute;
        right: 8%;
        img {
            width: 2rem;
        }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }
}

@media (min-width: 600px) {
    .swiper-button-next {
        margin-right: 5rem;
    }
    .swiper-button-prev {
        margin-left: 5rem;
    }
}

@media (min-width: 830px) {
    .swiper-button-next {
        margin-right: 9rem;
    }
    .swiper-button-prev {
        margin-left: 9rem;
    }
}
